.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.sidebar {
  display: none;
  position: sticky;
  width: 33%;
  overflow: hidden;
  background: url("../assets/images/sidebarcover.jpg") no-repeat center
    center;
  background-size: cover;
  background-color: #f8f8f8;
  z-index: 1;
  flex-shrink: 0;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .sidebar {
    display: block;
  }
}
